/* Cascadig style sheets (css)*/
body{
	padding: 0;
	margin: 0;
	background-color:#F8F8F8;
}

/*  denne division sørger for at
    alt content vil blive centrerert i midten*/
div.content {
	width: 640px;
	margin-left: auto;
	margin-right: auto;
}

/*  denne division sørger for at
	aligne elementerne inden for 
	content og menuebaren så det 
	ser pænere ud*/
.justering{ 
	margin-top: 0px;
	margin-bottom: 0;
	margin-left: 0.8%;
	margin-right: 1.3%;
	overflow: hidden;
}

/*css til menu-linjen */
.menu {
	height: 25px;
	margin-left: 4px;
	color: #F8F8F8;
	overflow: hidden;
}

.menulink {
	color: #F8F8F8;
	font-family: 'Arial Black', Gadget, sans-serif;
	display: block;
	float: left;
	width: 156px;
	margin-left: 1px;
	text-align: center;
	background-color: #003300;
	text-decoration: none;

}

.menulink:hover {
	background-color:#006600;
}

.mulighedsboks { /*Boksen rundt om sortering af spil på spil-listesiden*/
	width: 619px;
	height: auto;
	border-width: 2px;
	border-style: solid;
	border-color: #003300;
	float: left;
	margin-left: 0.8%;
	margin-right:1px;
	overflow: hidden;
	padding: 2px;
}
.spilboks {/*Boksen rundt om spil på spil-listesiden */
	width: 201.33333333333333333333333333333px;
	height: 250px;
	border-width: 2px;
	border-style: solid;
	border-color: #003300;
	border-bottom: 3px solid #003300;
	float: left;
	margin-left:0.8%;
	margin-right: 1px;
	overflow: hidden;
	margin-top: 5px;
	
}
.egnespil{ /* listen over egne spil i profil.php*/
	width: 619px;
	height: auto;
	border-width: 2px;
	border-style: solid;
	border-color: #003300;
	float: left;
	margin-left: 0.8%;
	margin-right:1px;
	overflow: hidden;
	padding: 2px;
	margin-top: 5px;
	word-wrap:break-word;
}

h2 { /* fjerne webbrowserens egen indryk og alignment*/
	padding: 0;
	margin: 0;
}
h3 { /* fjerne webbrowserens egen indryk og alignment*/
	padding: 0;
	margin: 0;
}

.egnespil h3 { /* listen over egnespil på profil.php*/
	background-color: #708090; 
	color: #000000;
	margin-top: 2px;
	margin-bottom: 0;
	border-width: 1px;
	border-style: solid;
	border-color: #003300;
	word-wrap:break-word;
}


.spilboks h3 { /*overskriften i spilboksene */
	background-color: #00e57c; 
	color: #000000;
	margin-top: 0;
	margin-bottom: 0;
	overflow: hidden;
}
.spilboks h3 span { /* justering af overskrift i spilboks*/
display: block;
margin-left: 5px;
margin-right: 5px;
word-wrap: break-word;
}

.spilboks p {/* justering af bekskrivelse af spil i spilboks*/
margin-top: 1px;
padding:0;
margin-left: 5px;
margin-right: 5px;
word-wrap:break-word;
}