
/*  denn division sørger for at
    alt content vil blive centrerert*/
div.content {
	width: 640px;
	margin-left: auto;
	margin-right: auto;
}

/*  denne division sørger for at
	aligne elementerne inden for 
	content og menuebaren*/
.justering{
	margin-top: 10px;
	margin-bottom: 0;
	margin-left: 0.8%;
	margin-right: 1.3%;
	overflow: hidden;
}


/*css til menuen*/
.menu {
	height: 25px;
	margin: 0;
	padding: 0;
	margin-left: 4px;
	color: #FFFFFF;
	overflow: hidden;
}

.menulink {
	color: #FFFFFF;
	font-family: 'Arial Black', Gadget, sans-serif;
	display: block;
	float: left;
	width: 156px;
	margin-left: 1px;
	text-align: center;
	background-color: #003300;
	text-decoration: none;

}

.menulink:hover {
	background-color:#006600;
}

.boxlink {
	color: black;
	display: block;
	width: 95%;
	height: 100%;
	float: top;
	border-bottom: 1px solid #8080FF;
}

.box {
	width: 200px;
	height: 150px;
	border-width: 1px;
	border-style: solid;
	border-color: #8080FF;
	background-color: #FFFFFF;
	float: left;
	margin: 5px;
}

.forabox {
	width: 624px;
	height: 100px;
	border-width: 1px;
	border-style: solid;
	border-color: #8080FF;

	float: left;
	margin: 5px;
}

.box p {
	margin-left: 5px;
	margin-right: 5px;
}

h3 {
	background-color: #00e57c; 
	color: #FFFFFF;
	margin-top: 0;
	margin-bottom: 0;
	/*margin: 0;
	padding: 0;*/
	margin-left: 0.8%;
	margin-right: 1.3%;
	overflow: hidden;
}

h3 a {
	text-decoration: none;
	color: #FFFFFF;
}

.box_link {
	text-decoration: none;
}

.box h3 span {
	margin-left: 5px;
	margin-right: 5px;
}